@model IEnumerable<SimpleCommerce.Data.Entities.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>

<table id="productsTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th></th>
        </tr>
    </thead>
</table>
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@section Scripts {
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#productsTable').DataTable({
                "proccessing": true,
                "serverSide": true,
                "ajax": {
                    url: "@Url.Action("Filter")",
                    type: 'POST',
                    headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() }
                },
                "columnDefs": [
                    {
                        "targets": -1,
                        "data": null,
                        "orderable": false,
                        "defaultContent": "<button>Add</button>"
                    },
                    { "name": "Id", "data": "id", "targets": 0, "visible": false },
                    { "name": "Name", "data": "name", "targets": 1 },
                    { "name": "Description", "data": "description", "targets": 2 },
                    {
                        "name": "Price",
                        "data": "price",
                        "targets": 3,
                        "render": function (data, type, row, meta) {
                            return parseFloat(row.price).toFixed(2);
                        }
                    },
                    { "name": "DateAdded", "data": "dateAdded", "targets": 4 }
                ],
                "order": [[0, "desc"]]
            });

            $('#productsTable tbody').on('click', 'button', function () {
                var rowData = table.row($(this).parents('tr')).data();

                var basketUpdateModel = {
                    productId: rowData.id
                }

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Add", "Basket")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(basketUpdateModel),
                    success: function (result) {
                        toastr.success('Product added to basket', 'SimpleCommerce', { timeOut: 3000 })
                    }
                });
            });
        });
    </script>
}