@model IEnumerable<SimpleCommerce.Data.Entities.Product>

@{
    ViewData["Title"] = "Manage Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="productsTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th></th>
        </tr>
    </thead>
</table>
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#productsTable').DataTable({
                "proccessing": true,
                "serverSide": true,
                "ajax": {
                    url: "@Url.Action("Filter")",
                    type: 'POST',
                    headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() }
                },
                "columnDefs": [
                    {
                        "targets": -1,
                        "orderable": false,
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return '<a href="@Url.Action("Edit")/' + row.id + '">Edit</a> | <a href="@Url.Action("Details")/' + row.id + '">Details</a> | <a href="@Url.Action("Delete")/' + row.id + '">Delete</a>';
                        }
                    },
                    { "name": "Id", "data": "id", "targets": 0, "visible": false, },
                    { "name": "Name", "data": "name", "targets": 1 },
                    { "name": "Description", "data": "description", "targets": 2 },
                    { "name": "Price", "data": "price", "targets": 3 },
                    { "name": "DateAdded", "data": "dateAdded", "targets": 4 }
                ],
                "order": [[0, "desc"]]
            });
        });
    </script>
}
